<% include layout-header %>


<div class="container-fluid d-flex align-items-center ">
<!-- Default form login -->
<div class="col-md-4 m-auto border border-dark rounded form-area-101 container" >
    <%if (volunteer_added) { %>
        
        <img src="/img/tick_circle.svg">

            <!-- Default form login -->
            <% }  else {%>
              
    <form class="text-center border border-light p-5" action="<%= event.image %>/update" method="post">
        <p class="h4 mb-4">Volunteer for <i> <%= event.name %></i></p>


        <input type="text" name="name" class="form-control mb-4" placeholder="Name">
        <input type="number" name="phoneno" class="form-control mb-4" placeholder="10-digit Number">
        <input type="number" name="rollno" class="form-control mb-4" placeholder="College Roll No.">

        <!-- Email -->
        <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" name="password" class="form-control mb-4" placeholder="Password">
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>
        <!-- Register -->
        
    </form>
                <% } %>
</div>

</div>
<script>
    $('document').ready(function(){

        $("head").append(`<style id="new-animations" type="text/css">       
            body {        
                overflow: auto;
                position: relative;            
            }   

            body:before {
                content: "";
                position: fixed;
                left: 0;
                right: 0;
                z-index: -1;

                display: block;
                background-image: url("/app-data/event-photo/women-in-tech.jpeg");
                background-size:cover;
                width: 100%;
                height: 100%;

                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
            }
                      
            </style>`);
        $('.form-area-101').css("background-color","#fff");
        console.log("test")
    });

</script>
<% include layout-footer %>