<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/4.0.0/ng2-bootstrap.min.js"></script> --> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> -->
<!-- <app-landing-page>
</app-landing-page>

<app-company-page></app-company-page>
<div class="container">
    <app-slot-booking></app-slot-booking>
</div> -->

<ul>
    <li>
        <a routerLink="">Home</a>
    </li>
    <li>
        <a routerLink="temp">temp</a>
    </li>
    <li>
        <a routerLink="company">company</a>
    </li>
</ul>



<router-outlet></router-outlet>
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-3"></div>
</div>
<app-council-page></app-council-page>
<app-signup></app-signup>
<app-login></app-login>
